:root {
    --background: #ffffff;
    --primary: #a4aefd;
    --secondary: #b6bffe;
    --tertiary: #c3cafc;
    --dark: #7787ff;
    --black: #424242;
    --white: #f0f0f0;
}

* {
    color: var(--black);
}

body {
    height: 100vh;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

    /* NAVBAR */
.header-container {
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
}

.header-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
}

.header-name p {
    padding-left: 1em;
    font-size: larger;
}

#header-logo {
    width: 3em;
    height: 3em;
}

#header-login {
    align-self: center;
    justify-self: center;
    margin-left: auto;
    font-size: larger;
    text-decoration: none;
    padding: 1.5em;
    cursor: pointer;
}

header a:hover {
    background-color: var(--secondary);
}

    /* BODY */
.ToDo-body {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
}

.content-container {
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* SIDE BAR */
.sideBar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    width: 15%;
    height: 100%;
    font-size: xx-large;
}

.sideBar-text {
    margin: 1em;
    cursor: pointer;
    text-decoration: none;
}

#sideBar-addTask {
    margin-top: auto;
}

    /* ADD TASK */
.addTask-container {
    width: 40%;
    height: 50%;
    background-color: var(--tertiary);
    z-index: 10;
    border-radius: 15px;
    display: none;
    position: fixed;
    border: 4px solid var(--dark);
}

.addTask-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.addTask-write {
    width: 70%;
    height: 200px;
}

.addTask-send {
    font-size: large;
    margin: 1em;
}

    /* LOGIN/SIGN-UP */
.login-container, .signUp-container {
    padding: 3em;
    background-color: var(--tertiary);
    z-index: 10;
    position: fixed;
    border-radius: 15px;
    display: none;
    border: 4px solid var(--dark);
}

.login-container {
    padding-bottom: 1em;
}

.login-container p {
    text-decoration: underline;
    cursor: pointer;
}

.login-form input, .signUp-form input {
    margin: 0.5em;
}

    /* TASK */
.task-body {
    width: 100%;
    height: 90%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
}

.task-container {
    background-color: var(--tertiary);
    border-radius: 15px;
    width: 15%;
    height: 35%;
    margin: 4em;
    margin-top: 2em;
}

.task-head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0.5em;
}

.task-head a {
    background-color: var(--secondary);
    text-align: center;
    border-radius: 15px;
    padding: 0.5em;
    cursor: pointer;
    text-decoration: none;
}

.task-text {
    padding: 0.5em;
}